{
  "verifyConditions": ["@semantic-release/changelog", "@semantic-release/git", "semantic-release-vsce", "@semantic-release/github"],
  "getLastRelease": ["@semantic-release/git"],
  "analyzeCommits": {
    "preset": "angular",
    "releaseRules": [
      {"type": "docs", "scope":"readme", "release": "patch"},
      {"type": "refactor", "release": "patch"}
    ],
    "parserOpts": {
      "noteKeywords": ["BREAKING CHANGE:"]
    }
  },
  "generateNotes": {
    "preset": "angular",
    "parserOpts": {
      "noteKeywords": ["BREAKING CHANGE:"]
    },
    "writerOpts": {
      "commitsSort": ["subject", "scope"]
    }
  },
  "prepare": [
    "@semantic-release/changelog",
    {
      "path": "@semantic-release/git",
      "assets": ["CHANGELOG.md"],
      "message": "ci(release): update changelog [skip ci]"
    }
  ],
  "publish": [
    {
      "path": "semantic-release-vsce",
      "packageVsix": "graphql-for-vscode.vsix"
    },
    {
      "path": "@semantic-release/github",
      "assets": "graphql-for-vscode.vsix"
    }
  ],
  "success": ["@semantic-release/github"],
  "fail": ["@semantic-release/github"]
}
